.App {
  text-align: center;
}
.App > .container{
  padding-top:15px;
}

.post{ 
  padding: 10px 0;
  font-size: 16px;
}

.comments{
  color: cornflowerblue;
  padding-top: 3px;
  font-size: 14px;
  text-decoration: underline;
}
.comment {
  padding: 5px 0;
  font-size: 14px;
}